*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}
@keyframes tilt-n-move-shaking {
    0% { transform: translate(0, 0) rotate(0deg); }
    25% { transform: translate(5px, 5px) rotate(5deg); }
    50% { transform: translate(0, 0) rotate(0eg); }
    75% { transform: translate(-5px, 5px) rotate(-5deg); }
    100% { transform: translate(0, 0) rotate(0deg); }
}
/* width */
::-webkit-scrollbar {
    width: 10px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: rgb(23, 23, 23);
}
   
/* Handle */
::-webkit-scrollbar-thumb {
    background: #9f3647;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background:#9f3647;
}
body{
    background-color: #181419;
    color:white; 
    display:grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
    min-height: 100vh;
     /* scrollbar-color: #9f3647  #181419; /*nuevo
     scrollbar-width: thin;*/
}


/*ESTILOS HEADER*/

.header{
    background-color:#9f3647;
    color:white;
    position:sticky;
    top: 0;
    z-index:10;
}

/*ESTILO DEL MENÚ*/
.navbar{ /*nav*/
    display: flex;
    color:white;
    justify-content: space-between;
    align-items: center;
    margin-left:40px;
    margin-right: 40px;
    padding: 1.5rem;
}
.anclaLogo {
    color: #ffffff;
    font-weight: 700;
    font-size: 1.2rem;
    padding-right: 20px;
 
}
/*ANIMACIÓN IMAGEN LOGO*/
.anclaLogo:hover{
    animation: tilt-n-move-shaking 0.25s infinite;
}

.navbar-nav{ /*ul* listanav*/
    align-items: center;
    justify-content: space-between;     
    float: left;
}

.nav-item a { /*li listaItem*/
    margin-right:30px;
    color:white;
}

.nav-link { /*a linkNav*/
   
    color:white;
    font-size: 1.1rem;
    padding: 0.5rem 1rem;
    text-align: center;
}
                         
/*Cambio de estilo al pasar el cursor*/
.nav-item a:hover:not(.active)  {
    background-color:#181419;
    color: white;
    padding: 10px 7px;
    border-radius: 5px;
  }

.nav-item a:is(.active) {
    color: white;
    background-color: #181419;
    padding: 10px 7px;
    border-radius: 5px;
  }



/*ESTILOS PARA MAIN ESCRITORIO*/
.main {
    background-color: #181419;
    color:white;
}

/*SECCIÓN PRINCIPAL - Imagen + botón Registrarse*/
#principal {
    background:linear-gradient(to right top, #0000008a, #0000008a), url(../assets/img/banner-bg.jpg);
    background-size: cover;
    background-position: center;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    .tituloPrincipal{
            font-size: 4rem;
            font-weight: 700;
            margin-bottom: 1rem;
    }
     .subtituloPrincipal{
        font-size: 2.2rem;
        font-weight: 400;
        margin-bottom: 1rem;
    }
}
.botonRegistrarse{
    background-color:#9f3647;
    color: #ffffff;
    padding: 1rem 2rem;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: 700;
    text-decoration: none;
     /* Agregar efecto de botón presionado */
     transition: transform 0.3s, box-shadow 0.3s;
}
.botonRegistrarse:hover {
    background-color: #9f3647;
    transform: scale(0.95);
    box-shadow: 0 0 10px black;
}

/*SEGUNDA SECCIÓN - Buscador*/

.buscador{
    background-color: #181419;
    color:rgb(255, 255, 255);
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    .tituloSection{
        font-size: 2.5rem;
        font-weight: 700;
        margin-bottom: 1rem;
    }
}
.buscadorPeliculas{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}
.inputBuscador{
    border: 2px solid white;
    border-radius: 5px;
    color: #000000;
    font-size: 1.2rem;
    height: 50px;
    margin: 20px 0px;
    outline: none;
    padding: 0px 20px;
    width: 300px;
}
.botonBuscador{
    display: inline-block;
    background-color:#9f3647;
    color: #ffffff;
    height: 45px;
    margin: 20px 10px;
    padding:0 20px;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: 500;
    box-sizing: content-box;
    margin-bottom:20px;
    text-align: center;
                 /* Agregar efecto de botón presionado */
    transition: transform 0.3s, box-shadow 0.3s;
     &:hover {
    background-color: #9f3647;
    transform: scale(0.95);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
             }
    }

/*TERCERA SECCIÓN - TENDENCIAS - PELICULAS*/
       
.peliculasTendencia{
        width:70%;
        margin: 0 auto;
        text-align: center;
        margin-top: 10px;
    }

.tituloSection{
        font-size: 2.5rem;
        font-weight: 700;
        margin-bottom: 40px;
    }

.peliculas{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
     gap:60px;
}

.peliculas a{
    text-decoration: none;
    color: #ffffff;
    }

.pelicula{
    width:200px;
    height: 300px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    transition: all 0.5s ease;    
}  
.pelicula .imgTendencia{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;            
    }    

.tituloPelicula{
    z-index: 2;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    max-width: 20rem;
    width: 100%;
    transform: translateY(-50%) translateX(-50%);
    }
.tituloPelicula h4 {
        font-size: 1.6rem;
        font-weight: bold;
        opacity: 0;
        margin-bottom: 0.5rem;
        letter-spacing: 0.1rem;
        transition: opacity 0.5s ease-in-out;
        }
    
.pelicula:hover{
    box-shadow: 0 0 30px #9f3648cd;
    transform: scale(0.9);          
    }
.tituloPelicula:hover {
    width: 100%;
    height: 100%;
    backdrop-filter: blur(20px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.tituloPelicula:hover h4 {
    width: 100%;
    padding: 0.5rem;
    opacity: 1;
}               
    
/*Botones anterior siguiente */ 
.boton{
    margin-top:20px;
    margin-left:20px;
    margin-bottom:30px;
    padding: 1rem 2rem;
    background-color:#9f3647;
    color: #ffffff;
    border-radius: 3px;
    font-size: 1.2rem;
    font-weight: 100;
    /*text-decoration: none;
    display: inline-block;
    box-sizing: content-box;*/
             /* Agregar efecto de botón presionado */
    transition: transform 0.3s, box-shadow 0.3s;
    }

.boton:hover {
    background-color: #9f3647;
    transform: scale(0.95);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
    }
    

/*CUARTA SECCIÓN - PELICULAS ACLAMADAS*/

.peliculasAclamadas{
    width:80%;
    margin: 0 auto;
    text-align: center;
    margin-top: 10px;
    margin-bottom:60px;
    }
.tituloSection{
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 40px;
    }

.aclamadas{
    overflow-x: scroll;
    overflow-y: hidden;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px 0px 40px 0px;
}
.peliculaItem{
    border-radius: 25px;
    width: 170px;
    min-width: 170px;
    font-size: 20px;
    cursor: pointer;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    } 

.imgAclamada{
    border-radius: 5%;
    width: 95%;
    height: 95%;
    object-fit: cover;
    }
                
        
/*FOOTER*/
footer{
    margin: 0;
    padding:20px;
    background-color:#9f3647;
    color:#ffffff;
    width: 100%;
    height: auto; 
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap:20px;

} 
 

#iconorrss{
    font-size: 2.5rem; 
    color: white;
    padding: 20px 10px;  
  
  }

  /*Formato de los item del footer*/
.col li {
    list-style: none;
}

.col li a {
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 15px;
    color: #f1ede9;
    text-decoration: none;    

}

.flechaArriba{
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: white;
    cursor: pointer;
}


footer p{
    font-size: 11px;
}

/*PAGINA INICIAR SESIÓN */
/*PAGINA REGISTRARSE */

/*seccion de registrarse.html*/
.seccionRegistrarse{
    background-color:rgb(42, 42, 42);
    width: 50%;
    margin:30px 30px;
    border-radius: 5px;
    padding: 40px 20px;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
   /* height: 90vh;*/
    font-size:1.2rem;
}

.tituloRegistrarse{
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 20px;
}

.formgeneral  {
    width: 100%;
    padding:40px;
}

.error input:not(.check,.boton) {
    border: 1px solid #ff0000;
}

.error select{
        border: 1px solid #ff0000;
}
    
.error-text{
        color: #ff0000;
        font-size: 0.8rem;
        margin-top:0px;
        margin-bottom: 10px;
    }
  

    .terminos{
        font-size: 0.8rem;
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        .textoCheck{
            margin-left: 10px;
        }
    }

/*seleccionar todos los input menos el checkbox*/

.formgeneral input:not(.check,.boton),select{
    width: 60%;
    margin-bottom: 10px;
    height: 40px;
    padding: 0px 20px;
    font-size: 1.2rem;
    border-radius: 20px;
    border: 1px solid #9f3647;
    background-color: #333333;
    outline: none;
    color:rgb(255, 255, 255);
}
.ayuda{
    margin-top:40px;
    font-size: 1rem;
    text-decoration: none;
    color: #787878;
    font-weight:400;
   
}

    
   
/*DETALLE DE LAS PELICULAS*/
.mainDetalle{
    background-color: #333333;
    width:80%;
    margin: 0 auto;
    text-align: center;
    margin-top: 10px;
}

.detalle{
    padding-top:50px;
    background-size: cover;
    background-position: center;
    height: 70vh;
    }

.contenedorDetalle{
    margin-top: 50px;
    width:75%;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 60px;
    img{
        border-radius: 20px;
    }
}

.textoDetalle h1{
    font-size: 2.2rem;
    font-weight: 700;
    color: white;
    }
 
            
.textoDetalle h2{
    margin-top:20px;
    }

.contenedorCreditos{
    margin-top:20px;
    display: flex;
    justify-content:space-between;
}
        
    
.trailer{
    padding-top:150px;
    padding-bottom: 100px;
    width:75%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 70px;
}

.redes{
    margin-bottom: 20px;
}

.redes ul{ 
        list-style: none;
        list-style: none;
        display: flex;
        column-gap: 20px;
}



#redesmovie {
    list-style: none;
    text-decoration: none;
    color: #ffffff;
    font-size: 2.5rem;
    margin-right: 20px;
}
      
    

  
.info{
    table{
        width: 100%;
        tr{
            td{
                font-size: 1.2rem;
                padding: 10px 0px;
            }
        }
    }
}




hr{
    border: 1px solid #9f3647;
    width: 80%;
    margin: 0 auto;
    margin-top: 40px;
}

.mainAdmin {
    background-color: #181419;
    color:white;
}